.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 1.5rem;
  width: 90%;
  max-width: 500px;
  min-height: 300px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.close-button {
  font-size: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.modal-body input {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 0.8rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.selected-users {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0;
}

.user-badge {
  background-color: #007bff;
  color: white;
  padding: 6px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.remove-icon {
  margin-left: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
}

.remove-icon:hover {
  color: #ffdddd;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-footer button {
  padding: 0.7rem 1.5rem;
  font-size: 16px;
   background-color: #319795;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #268d8b;
}
